ALTER TABLE startups ADD COLUMN IF NOT EXISTS questionnaire JSONB DEFAULT '{}';
ALTER TABLE startups ADD COLUMN IF NOT EXISTS ai_summary TEXT;
ALTER TABLE startups ADD COLUMN IF NOT EXISTS summary_status TEXT DEFAULT 'draft';

